<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Empathica</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1>Empathica</h1>
        <br>
        <h2>Your personalized emotional intelligence guide</h2>
        <br>
        <div id="button_container">
            <button class="buts" id="startButton">Activate Emotion Detection Program</button>
            <button class="buts" id="stopButton">Terminate Emotion Detection Program</button>
        </div>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <section id="about">
        <h3>About the Product</h3>
        <p>Empathica is a tool that uses AI to determine emotion from facial expressions in real-time through video analysis. This can be used by those who struggle with understanding social cues and emotions during virtual experiences.</p>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <section id="team">
        <h3>Team</h3>
        <p>Pratyush Saxena, Aahil Valliani, Abhi Badia, Surya Kalindindi</p>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script src="/static/script.js">
    </script>
</body>

</html>